footer {
  padding: 0 30px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  bottom: 20px;
  width: 100%;

  @media only screen and (max-width: 918px) {
    padding: 0 20px;
  }
}
.links {
  display: flex;
  align-items: center;
  position: fixed;
  top: 30px;
  right: 30px;

  @media only screen and (max-width: 800px) {
    top: 10px;
    right: 10px;
  }

  @media only screen and (max-width: 574px) {
    display: none;
  }
}
.link {
  font-size: 15px;
  font-weight: normal;
  display: block;
  text-decoration-color: var(--textColorOpposite);
  color: var(--textColor);
  border-radius: 10px;
  padding-top: 15px;
  text-align: right;

  @media only screen and (max-width: 680px) {
    display: none;
  }

  b {
    background: var(--textColor);
    color: var(--textColorOpposite);
    padding: 2px 5px;
    border-radius: 4px;
  }
}
.social {
  display: flex;
  align-items: center;

  @media only screen and (max-width: 680px) {
    display: none;
  }

  .instagram {
    padding: 10px;
    display: block;
    border-radius: 10px;
    margin-right: 20px;
    color: #001f3f;
    background-color: #f8f8ff;
    svg {
      display: block;
      color: #001f3f;
    }
  }
  .uiverse {
    font-size: 18px;
    text-align: left;
    padding-top: 0;
  }

  .bmc-button img {
    height: 27px;
    box-shadow: none;
    border: none;
    vertical-align: middle;
  }
  .bmc-button {
    height: 44px;
    line-height: 44px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    color: #001f3f;
    background-color: #f8f8ff;
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 7px 15px;
    font-size: 16px;
    letter-spacing: 0.6px;
    margin: 0 auto;
    transition: 0.1s opacity linear;

    span {
      font-size: inherit;
      margin-left: 10px;
      white-space: nowrap;
    }
  }
  .bmc-button:hover,
  .bmc-button:active,
  .bmc-button:focus {
    text-decoration: none;
    opacity: 0.85;
  }
}

.open {
  font-size: 17px;
  margin-right: 20px;
  font-weight: lighter;
  color: var(--textColor);

  @media only screen and (max-width: 800px) {
    display: none;
  }
}

.links {
  body {
    margin: 0;
  }
  a {
    text-decoration: none;
    outline: 0;
  }
  .widget {
    display: inline-block;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    font-size: 0;
    line-height: 0;
    white-space: nowrap;
  }
  .btn,
  .social-count {
    position: relative;
    display: inline-block;
    height: 14px;
    padding: 2px 5px;
    font-size: 11px;
    font-weight: 600;
    line-height: 14px;
    vertical-align: bottom;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-repeat: repeat-x;
    background-position: -1px -1px;
    background-size: 110% 110%;
    border: 1px solid;
  }
  .btn {
    border-radius: 0.25em;
  }
  .btn:not(:last-child) {
    border-radius: 0.25em 0 0 0.25em;
  }
  .social-count {
    border-left: 0;
    border-radius: 0 0.25em 0.25em 0;
  }
  .widget-lg .btn,
  .widget-lg .social-count {
    height: auto;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 20px;

    @media only screen and (max-width: 680px) {
      padding: 2px 5px;
    }
  }
  .octicon {
    display: inline-block;
    vertical-align: text-top;
    fill: currentColor;
  }
  .btn {
    color: #24292e;
    background-color: #eff3f6;
    border-color: #c5c9cc;
    border-color: rgba(27, 31, 35, 0.2);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg'%3e%3clinearGradient id='o' x2='0' y2='1'%3e%3cstop stop-color='%23fafbfc'/%3e%3cstop offset='90%25' stop-color='%23eff3f6'/%3e%3c/linearGradient%3e%3crect width='100%25' height='100%25' fill='url(%23o)'/%3e%3c/svg%3e");
    background-image: -moz-linear-gradient(top, #fafbfc, #eff3f6 90%);
    background-image: linear-gradient(180deg, #fafbfc, #eff3f6 90%);
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#FFFAFBFC', endColorstr='#FFEEF2F5');
  }
  :root .btn {
    filter: none;
  }
  .btn:focus,
  .btn:hover {
    background-color: #e6ebf1;
    background-position: -0.5em;
    border-color: #9fa4a9;
    border-color: rgba(27, 31, 35, 0.35);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg'%3e%3clinearGradient id='o' x2='0' y2='1'%3e%3cstop stop-color='%23f0f3f6'/%3e%3cstop offset='90%25' stop-color='%23e6ebf1'/%3e%3c/linearGradient%3e%3crect width='100%25' height='100%25' fill='url(%23o)'/%3e%3c/svg%3e");
    background-image: -moz-linear-gradient(top, #f0f3f6, #e6ebf1 90%);
    background-image: linear-gradient(180deg, #f0f3f6, #e6ebf1 90%);
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#FFF0F3F6', endColorstr='#FFE5EAF0');
  }
  :root .btn:focus,
  :root .btn:hover {
    filter: none;
  }
  .btn:active {
    background-color: #e9ecef;
    border-color: #a1a4a8;
    border-color: rgba(27, 31, 35, 0.35);
    box-shadow: inset 0 0.15em 0.3em rgba(27, 31, 35, 0.15);
    background-image: none;
    filter: none;
  }
  .social-count {
    color: #24292e;
    background-color: #fff;
    border-color: #d1d2d3;
    border-color: rgba(27, 31, 35, 0.2);
  }
  .social-count:focus,
  .social-count:hover {
    color: #0366d6;
  }
  .octicon-heart {
    color: #ea4aaa;
  }
}
