body {
    background: var(--baseColor);
    color: var(--textColor);
    font-family: 'Muli', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    font-weight: normal;
    mix-blend-mode: difference;
}

input[type="text"] {
    border: 3px solid var(--textColor);
    color: #001f3f;
    padding: 0px 5px;
    font-size: 15px;
    font-weight: bold;
    height: 32px;
    width: 70px;
    display: inline-block;
}

input[type="color"] {
	-webkit-appearance: none;
    border: none;
    cursor: pointer;
	width: 32px;
    height: 32px;
    padding: 0;
    border: 3px solid var(--textColor);
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}

:root {
    --spread: 0px;
    --blur: 60px;
    --textColor: #001f3f;
    --baseColor: #c0c0c0;
    --darkColor: #dadada;
    --firstGradientColor: #dadada;
    --lightColor: #adadad;
    --secondGradientColor: #adadad;
    --positionX: 30px;
    --positionXOpposite: -30px;
    --positionY: 30px;
    --positionYOpposite: -30px;
    --angle: 145deg;
}

.soft-element {
    --size: 300px;
    --radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: var(--size);
    height: var(--size);
    border-radius: var(--radius);
}

.soft-shadow {
    background: linear-gradient(var(--angle), var(--firstGradientColor), var(--secondGradientColor));
    box-shadow: var(--positionX) var(--positionY) var(--blur) var(--darkColor), 
                var(--positionXOpposite) var(--positionYOpposite) var(--blur) var(--lightColor);
}

.title {
    text-align: center;
    margin: 10px 0;
    z-index: 122;
}
.main-heading {
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-weight: bold;
}
h2 {
    margin-top: 4px;
    font-weight: normal;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
    background-color: transparent;
    position: relative;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    animate: 0.2s;
    background:#30302F;
    border-radius: 3px;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #30302F, 0px 0px 1px #30302F;
    border: 1px solid #000000;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background:#30302F;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5px;
    position: relative;
  }
  input[type=range]:hover::after {
      content: attr(value);
      position: absolute;
      left: 105%;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 3px;
      padding: 10px;
      background: #001f3f;
      color: white;
  }
  input[type=range]:hover::before {
    width: 0;
    height: 0;
    border-right: 15px solid #001f3f;;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    z-index: 222;
    content: ' ';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 103%;
  }
  input[type="range"][name="radius"]:hover::after {
    content: attr(value)"px";
  }
  input[type="range"][name="size"]:hover::after {
    content: attr(value)"px";
  }
  input[type="range"][name="blur"]:hover::after {
    content: attr(value)"px";
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #1D1D1B;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    animate: 0.2s;
    background: #30302F;
    border-radius: 1.3px;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #30302F, 0px 0px 1px #30302F;
    border: 1px solid #000000;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #30302F;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]::-ms-fill-upper {
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #30302F, 0px 0px 1px #30302F;
    border: 1px solid #000000;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #30302F;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #1D1D1B;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #1D1D1B;
  }

  #loading {width: 100%;height: 100%;top: 0px;left: 0px;position: fixed;display: block; z-index: 99}

#loading-image {position: absolute;top: 40%;left: 45%;z-index: 100} 