body {
    background: var(--baseColor);
    color: var(--textColor);
    font-family: 'Muli', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1 {
    font-weight: normal;
    mix-blend-mode: difference;
}

input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 32px;
    height: 32px;
    padding: 0;
    border: 3px solid var(--textColor);
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}

:root {
    --spread: 0px;
    --blur: 60px;
    --textColor: #001f3f;
    --baseColor: #c0c0c0;
    --darkColor: #dadada;
    --firstGradientColor: #dadada;
    --lightColor: #adadad;
    --secondGradientColor: #adadad;
    --positionX: 30px;
    --positionXOpposite: -30px;
    --positionY: 30px;
    --positionYOpposite: -30px;
    --angle: 145deg;
}

.soft-element {
    --size: 300px;
    --radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: var(--size);
    height: var(--size);
    border-radius: var(--radius);
}

.soft-shadow {
    background: linear-gradient(var(--angle), var(--firstGradientColor), var(--secondGradientColor));
    box-shadow: var(--positionX) var(--positionY) var(--blur) var(--darkColor), 
                var(--positionXOpposite) var(--positionYOpposite) var(--blur) var(--lightColor);
}